body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
    sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 40pt
}
#container {
  width: 1000px;
  margin: auto;
  margin-top: 50px;
}

#product-search-form {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

#product-search-input {
  font-size: 3rem;
  border: 3px solid #000000;
  color: #2d72fc;
}

.product-container {
  float: left;
  width: 250px;
  margin: auto;
}
p.description {
  border-style: solid;
  border-color: black;
}
input:focus {
  outline: none;
}

.center-text {
  text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 35%;
    max-width: 35%;
}
